target
.clj-kondo
.lsp
.gradle
bin
.idea
.idea/*.xml
*.bin
*.class
*.pyc
*catch.hpp 
build
*elm-stuff
.cpcache
*.lein-failures
*.exe
*.pdb
.dart_tool
node_modules
.merlin
**/lib/bs
pubspec.lock
**/*.bs.js
